<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @restaurant.name %></h2>
      <p><%= @restaurant.address %></p>
    </div>
    <h2 class="card-trip-pricing"><%= "#{@restaurant.rating} stars" %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/mcpenchel" class="card-trip-user avatar-bordered" />
  </div>
</div>

<%= link_to "Go back to all restaurants", restaurants_path %>